<a href="https://colab.research.google.com/github/ishardina/Coursera_Capstone/blob/main/Segmenting_and_Clustering_Neighborhoods_in_Toronto_Solution2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Solution 1

In [25]:
import pandas as pd

In [37]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table = pd.read_html(url,attrs = {'class' : 'wikitable'})
df = table[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [38]:
df.columns=['PostalCode','Borough', 'Neighborhood'] 
df

    PostalCode  ...                                       Neighborhood
0          M1A  ...                                       Not assigned
1          M2A  ...                                       Not assigned
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                          Regent Park, Harbourfront
..         ...  ...                                                ...
175        M5Z  ...                                       Not assigned
176        M6Z  ...                                       Not assigned
177        M7Z  ...                                       Not assigned
178        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179        M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [40]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)
df.reset_index(drop = True)
df.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [41]:
#combine row that has same postal code
df.groupby('PostalCode', as_index=False).agg({'Neighborhood' : ','.join}) 
df

    PostalCode  ...                                       Neighborhood
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                          Regent Park, Harbourfront
5          M6A  ...                   Lawrence Manor, Lawrence Heights
6          M7A  ...        Queen's Park, Ontario Provincial Government
..         ...  ...                                                ...
160        M8X  ...      The Kingsway, Montgomery Road, Old Mill North
165        M4Y  ...                               Church and Wellesley
168        M7Y  ...  Business reply mail Processing Centre, South C...
169        M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
178        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [44]:
#rename the neighborhood that contain 'not assignment'
df.loc[df.Neighborhood == 'Not assignment', 'Neighborhood'] = df.Borough
df.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [43]:
df.shape

(103, 3)

# Solution 2

In [46]:
df2 = pd.read_csv('http://cocl.us/Geospatial_data')
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [48]:
df2.columns = ['PostalCode', 'Latitude', 'Longitude']
df2.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [50]:
df3 = pd.merge(df, df2, how='left', on=['PostalCode'])
df3

    PostalCode           Borough  ...   Latitude  Longitude
0          M3A        North York  ...  43.753259 -79.329656
1          M4A        North York  ...  43.725882 -79.315572
2          M5A  Downtown Toronto  ...  43.654260 -79.360636
3          M6A        North York  ...  43.718518 -79.464763
4          M7A  Downtown Toronto  ...  43.662301 -79.389494
..         ...               ...  ...        ...        ...
98         M8X         Etobicoke  ...  43.653654 -79.506944
99         M4Y  Downtown Toronto  ...  43.665860 -79.383160
100        M7Y      East Toronto  ...  43.662744 -79.321558
101        M8Y         Etobicoke  ...  43.636258 -79.498509
102        M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]